.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.facebook{
  margin-top: 50px;
}
.facebook p {
 margin-bottom: 30px;
}
.google {
  margin-top: 30px;
}


p.logout {
  margin-left: 1299px;

}
